@import "tailwindcss";

@theme inline{
    --font-oswald: var(--font-oswald);
    --font-nunito: var(--font-nunito);
    --font-nsimsun: NSimSun, serif;
}

body{
    background-color: #123458;
}
:root{
   overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}